<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>League Of Me</title>
    <h1><img src='https://images.cooltext.com/5337792.png'></h1>
</head>
<body>
  <div id = "form_div">
<form id="user" method="POST" action="/">
    <h3>Enter Summoner Name</h3>
    <input type="text" name="name">
    <select name="region">
    <option value="oc1">Oceania</option>
    <option value="na1">North America</option>
    <option value="kr">Korea</option>
    <option value="jp1">Japan</option>
    <option value="br1">Brazil</option>
    <option value="euw1">Europe West</option>
    <option value="eun1">Europe East</option>
    <option value="ru">Russia</option>
    <option value="tr1">Turkey</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <br>
    <br>
</form>
</div>
<div>{{{body}}}</div>
</body>
</html>